.idea/scopes/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/libraries/
.idea/modules/
.idea/codeStyles/
.idea/markdown-navigator/
.idea/.name
.idea/*.xml
.idea/shelf/
/target
/*.bat
*.class
.DS_Store
*~
target/
out/
.bsp
